$$ ITI \space AI-Pro: \space Intake \space 45 $$
$$ Recommender \space Systems $$
$$ Lab \space no. \space 2 $$

# `01` Import Necessary Libraries

## `i` Default Libraries

In [ ]:
import numpy as np
import pandas as pd
from surprise.reader import Reader
from surprise.dataset import Dataset
from surprise.model_selection import train_test_split
from surprise.prediction_algorithms.knns import KNNWithMeans

## `ii` Additional Libraries
Add imports for additional libraries you used throughout the notebook

----------------------------

# `02` Load Data

 The dataset will have the following columns :
   - song_id (String) : Unique identified for the song
   - user_id (String) : Unique identifier for the user
   - song_genre (Integer) : An integer representing a genre for the song, value is between 1 and 5, indicating that there are 5 unique genres. Each song can only have 1 genre
   - artist_id (String) : Unique identifier for the author of the song
   - n_listen (Integer) : The number of times this user has heard the song (0 -> 15)
   - publish_year (Integer) : The year of song publishing

In [ ]:
data = pd.read_csv("Data/songs_data.csv")
data.head()

   song_id  artist_id  song_genre  user_id  n_listen  publish_year
0      537        368           4     2066        13          2002
1      921        107           1     1179         5          2006
2      352        188           1     1468        11          2013
3      853        370           4      460         9          2020
4      479        408           2     1125         3          2020

--------------------------

# `03` Content-based Filtering

Practice for content-based filtering on dummy data

## `i` Feature Engineering/Selection
Construct the item vector representation matrix from the `data` above

## `ii` Utility Matrix
Construct utility matrix for the loaded dataframe `data`

## `iii` Item-Item Similarity Matrix

Construct item-item (Cosine/Adjusted Cosine) similarity matrix.

## `iv` Top-K Candidate Generation

Selet top-K (a k of your choice) similar items for each item (a user of your choice) rated from the similarity matrix above.

## `v` Candidate Filtering

Filter out items (your user) has rated from the candidates above.

## `vi` Candidate Rating Prediction

Calculate the predicted rating for each of the candidate items.

--------------------------

# `04` KNN Item-based Colaborative Filtering

Practice for Using Scikit Surprise Library

## `i` Data Loading

Load `songsDataset.csv` file into a dataframe

In [ ]:
df = pd.read_csv('Data/songsDataset.csv')
df.head()

   userID  songID  rating
0       0   90409       5
1       4   91266       1
2       5    8063       2
3       5   24427       4
4       5  105433       4

## `ii` Prepare Data

Procedures to Follow:
- Instantiate the Reader Object (see, [Documentation](https://surprise.readthedocs.io/en/stable/reader.html))
- Load the Data into `surprise.dataset.Dataset` (see, [Documentation](https://surprise.readthedocs.io/en/stable/dataset.html))
- Build the full (i.e. without folds) `surprise.Trainset` (see, [Documentation](https://surprise.readthedocs.io/en/stable/trainset.html#:~:text=It%20is%20used%20by%20the%20fit()%20method%20of%20every%20prediction%20algorithm.%20You%20should%20not%20try%20to%20build%20such%20an%20object%20on%20your%20own%20but%20rather%20use%20the%20Dataset.folds()%20method%20or%20the%20DatasetAutoFolds.build_full_trainset()%20method.))

In [ ]:
reader = None

In [ ]:
data = None
data

## `iii` Initialize the `KNNWithMeans` Model

**Note**: `KNNWithMeans` uses the normalized ratings instead of the raw ones. (See [Documentation](https://surprise.readthedocs.io/en/stable/knn_inspired.html#surprise.prediction_algorithms.knns.KNNWithMeans))

**Hint**: Use $k=10$ and configure `sim_options` to be:
- item_based
- pearson

In [ ]:
knn_model = None

## `iv` Fit the Model on Data

In [ ]:
None

Computing the pearson similarity matrix...
Done computing similarity matrix.

## `v` Calculate Predicted Rating $\hat{r}$ for User $199988$

**Hine**: you can use `.predict()` method of the model (see [Documentaion](https://surprise.readthedocs.io/en/stable/getting_started.html?highlight=.predict#train-on-a-whole-trainset-and-the-predict-method:~:text=pred%20%3D%20algo.predict(uid%2C%20iid%2C%20r_ui%3D4%2C%20verbose%3DTrue)))

In [ ]:
song_predictions = None
song_predictions.head()

   songID
0   90409
1   91266
2    8063
3   24427
4  105433

In [ ]:
song_predictions['predicted_rating'] = None
song_predictions.head()

        predicted_rating
songID
90409           4.808493
91266           4.705610
8063            4.239800
24427           4.549136
105433          4.872347

## `vi` Recommend Top 10 Songs

In [ ]:
song_predictions_sorted = None
song_predictions_sorted.head(10)

        predicted_rating
songID
60888           5.000000
122065          5.000000
132189          5.000000
71582           5.000000
52611           5.000000
62954           5.000000
112023          5.000000
40712           5.000000
126757          4.983563
92881           4.941095

----------------------------------------------

$$ Wish \space you \space all \space the \space best \space ♡ $$
$$ Mahmoud \space Shawqi $$